h1, h2, h3, h4, h5, h6, li, p, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body, html {
	color: #555;
	font-family: arial, helvetica, 'sans-serif';
	font-size: 14px;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

#bg {
	bottom: 0;
	left: 230px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
	#bg > div {
		background-color: #232323;
		bottom: 0;
		left: 45%;
		position: absolute;
		right: 0;
		top: 0;
	}

#content {
	bottom: 0;
	box-sizing: border-box;
	left: 230px;
	overflow: scroll;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
	#content h2 {
		color: #333;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.8em;
	}
	#content h3 {
		color: #333;
		font-size: 18px;
		font-weight: 200;
		line-height: 1.8em;
		margin-top: 10px;
	}
	#content h4 {
		color: #333;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 1.8em;
		margin-top: 20px;
		text-transform: uppercase;
	}
	#content section {
		position: relative;
		overflow: hidden;
	}
	#content table {
		border-collapse: collapse;
		font-family: arial, helvetica, 'sans-serif';
		font-size: 13px;
		margin-top: 20px;
		width: 100%;
	}
		#content table caption {
			border: 0;
			bottom: -2px;
			font-size: 14px;
			font-weight: 600;
			padding: 5px 0 5px 2px;
			position: relative;
			line-height: 1.8em;
			text-align: left;
		}
		#content table td {
			border-bottom: 1px solid #ddd;
			padding: 9px;
		}
		#content table th {
			border-bottom: 1px solid #ddd;
			padding: 9px;
			text-align: right;
			width: 35%;
		}
			#content .code table {
				border: 1px solid #333;
				border-collapse: separate;
				border-radius: 0 0 4px 4px;
				border-top: 0;
			}
			#content .code table caption {
				border: 1px solid #333;
				border-bottom: 0;
				border-radius: 4px 4px 0 0;
				bottom: -2px;
				font-size: 14px;
				font-weight: 600;
				padding: 5px 0 5px 10px;
				position: relative;
				line-height: 1.8em;
				text-align: left;
			}
			#content .code table td, #content .code table th {
				border-bottom: 0;
				padding: 9px 20px;
			}
			#content .code table tr:nth-child(2n) {
				background-color: #333;
			}
			#content .code table tr:nth-child(2n+1) {
				background-color: #1f1f1f;
			}
	#content .code p, #content .desc p {
		line-height: 1.8em;
		margin-top: 20px;
	}
	#content .code {
		color: #ddd;
		margin-left: 45%;
		padding: 0 0 50px;
	}
		#content .code h3, #content .code h4 {
			color: #eee;
		}
		#content .code pre {
			text-align: left;
		}
	#content .desc {
		float: left;
		padding: 0 0 50px;
		width: 45%;
	}
		#content .desc code {
			background-color: #eee;
			border-radius: 4px;
			color: #39c;
			font-family: monospace, serif;
			font-size: 12px;
			line-height: 1em;
			padding: 0 3px;
		}
	#content .method {
		position: relative;
	}
	#content .method:before {
		background-color: #eee;
		content: '';
		display: block;
		height: 1px;
		left: 0;
		position: absolute;
		width: 45%;
	}
	#content .method:after {
		background-color: #444;
		content: '';
		display: block;
		height: 1px;
		left: 45%;
		position: absolute;
		right: 0;
		top: 0;
	}
	#content .padding {
		padding: 20px 40px;
	}

#nav {
	background-color: #fafafa;
	border-right: 1px solid #eee;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 230px;
}
	#nav h1 {
		border-bottom: 1px solid #eee;
		margin: 0;
		padding: 5px 20px;
	}
	#nav h2 {
		color: #ccc;
		font-size: 12px;
		margin: 20px 0 5px;
		padding: 5px 20px;
		text-transform: uppercase;
	}
	#nav ul:first-child {
		margin-top: 30px;
	}
	#nav li {
		padding: 0 20px;
	}
	#nav li a {
		color: #333;
		display: inline-block;
		padding: 5px 0;
		text-decoration: none;
	}
	#nav li a:hover {
		text-decoration: underline;
	}
	#nav li a.active {
		color: #39c;
	}